<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.dp.denzay.nytviewer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NYTViewerApp"
        android:allowBackup="true"
        android:icon="@drawable/the_new_york_times"
        android:label="@string/app_name"
        android:roundIcon="@drawable/the_new_york_times"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.FavouritesActivity"></activity>
        <activity android:name=".views.WebViewActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>